<h2>Import File</h2>

<% flash.each do |type, msg|%>
 <div style="color:green;">
 <%= msg%>
 <div>
<%end%>
<br>

<%= form_with url:import_file_path, multipart:true do |form| %>
<%= form.file_field :file %>
<%= form.submit "Import" %>
<% end %>
