<h1>Thanks For Creating </h1>


<span>Your Folder Name is</span> <span style="color:blue;"><%= session[:folder_name] %></span> and
<br>
<span>Your Image Name is</span> <span style="color:blue;"><%= session[:img_name]%> </span>

<br>
<br>
<button><%= link_to "Back to Create", tuto09_upload_path %> </button>

